html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {height: 100%;}
body {
	height: 100%;
	font: 14px/24px Arial, Tahoma, sans-serif;
	background-color: #ebebeb;
}
ol, ul {list-style: none;}
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {text-decoration: none;}


.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float:left;}
.right {float:right;}
.text-right {text-align: right;}

.navigation
{
	max-width:1200px;
	margin: 0 auto;
}


.nav,#touchmenu {
	background: solid;
}

.nav li a {
	    margin-right: 26px;

}
.nav li a , #touch-menu {
	display: block;

	font-size:16px;
	color:#1a1e25;
	padding: 10px 15px;
	}

.nav li {
	float:left;

}

.nav a {
	color:#1a1e25;
	transition: 0.2s;
	text-decoration: none;
}
.nav li a:hover{
	transition: 0.2s;
	color:#9a2722;
}
#touch-menu li a:hover{
	transition: 0.2s;
	color:#9a2722;
}
#touch-menu:hover {
	transition: 0.2s;
	color:#9a2722;
}
#touch-menu {
	display: none;
}
@media (max-width: 960px) 
{
	.nav{display:none;}
	.nav li{float:none;}
	.nav li a{background: #fff; 
		border-top:1px solid #eee;
		border-left:3px solid transparent;
		color: black;
		
	}
	.nav li a:hover {
		background: #f0f0f0;
		border-left:3px solid #9a2722;
	}
	.nav li:first-child a {
		border-top:none;
	}
	#touch-menu
	{
		display: block;
		color:#1a1e25;
	}
@media(max-height:620px){
	.nav li a{
		padding:5px 10px;
	}
}
/*.container {
	max-width: 960px;
	margin: 0 auto;
}

.nav,#touch-menu {
	background: #3e4156;

}
.nav li {
	float:left;

}
.nav li a , #touch-menu {
	display: block;
	padding: 10px 15px;
	font-weight: bold;
	font-size:14px;
	color:#fff;
}
.nav li a:hover,#touch-menu:hover {
	background: #515572;
}
#touch-menu {
	display: none;
}
@media (max-width: 768px) 
{
	.nav{display:none;}
	.nav li{float:none;}
	.nav li a{background: #fff; 
		border-top:1px solid #eee;
		border-left:3px solid transparent;
		color: #666;
	}
	.nav li a:hover {
		background: #f0f0f0;
		border-left:3px solid #515572;
		color:#333;
	}
	.nav li:first-child a {
		border-top:none;
	}
	#touch-menu{display: block;}
}*/